  <aside class="menu is-fixed-top ">
    <p class="menu-label is-size-5 has-text-centered has-background-black-ter has-text-white">
      Navigation
    </p>
    <ul class="menu-list">
      <a class="button" routerLink="home" routerLinkActive="has-background-primary">Home</a>
      <a class="button" routerLink="dashboard" routerLinkActive="has-background-primary">Dashboard</a>
      <a class="button" routerLink="dados" routerLinkActive="has-background-primary">Dados</a>
      <a class="button" routerLink="configuracao" routerLinkActive="has-background-primary">Configuração</a>
    </ul>
  </aside>