<div class="box has-background-warning">

  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Configuração do Servidor (Express app)
        </h1>
        <h2 class="subtitle">
          Ajuste aqui os valores do Api.
        </h2>
      </div>
    </div>
  </section>
  <div>
    <form class="form" #serverForm="ngForm">
      <div class="level">
        <div class="level-item is-3">

          <div *ngFor="let item of configModel | keyvalue">

            <div class="field">
              <label class="label">{{item.key}}</label>
              <div class="control">
                <input class="input" type="text" placeholder="Text input" [(ngModel)]="item" name="item.key">
              </div>
            </div>

          </div>


        </div>
      </div>
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            {{config | json}}
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <button class="button is-danger" (click)="resetConfig()">Reset Configuração</button>
          </div>
          <div class="level-item">
            <button class="button is-success" (click)="saveConfig()">Salvar Configuração</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>