<section class="hero is-fullheight">
    <div class="hero-head">
        <app-header></app-header>
    </div>
    <div class="hero-bodya">

        <div class="columns ">
            <div id="sidebar-container" class="column is-narrow">
                <app-sidebar></app-sidebar>
            </div>

            <div class="column">
                <section class="section">
                    <router-outlet></router-outlet>
                </section>
            </div>
        </div>
    </div>
    <div class="hero-foot">
        <app-footer></app-footer>
    </div>
</section>