<div class="box has-background-info">

    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    vista de dados
                </h1>
                <h2 class="subtitle">
                    enviar um query
                </h2>
            </div>
        </div>
    </section>
    <div>
        <form class="form" #queryForm="ngForm">
            <div class="field">
                <label class="label">Query</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Select * from ..." [(ngModel)]="query" name="query">
                </div>
            </div>
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <p></p>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <button id="querybtn" class="button is-success" (click)="sendQuery()">Executar query!</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<section class="section">
    <div class="notification">
        <div class="heading">
            <h1 class="title">Table view</h1>
            <div class="content">
                <div id="tabulator"></div>
            </div>
        </div>
    </div>
</section>
<div *ngIf="data$ | async">
    <div class="content">
        <pre class="has-background-dark has-text-weight-bold has-text-white">
            {{data$ | async | json}}
        </pre>
    </div>
</div>