<div class="block">
  <aside class="menu">
    <p class="menu-label">
      Navigation
    </p>
    <ul class="menu-list">
      <a class="button is-dark" [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
      <a class="button is-dark" [routerLink]="['/resumo']" routerLinkActive="router-link-active">Resumo</a>
      <a class="button is-dark" [routerLink]="['/dados']" routerLinkActive="router-link-active">Dados</a>
      <a class="button is-dark" [routerLink]="['/configuracao']" routerLinkActive="router-link-active">Configuração</a>
    </ul>
  </aside>
</div>