<div class="box has-background-dark">
    <div class="level is-paddingless">
        <div class="column is-narrow is-paddingless">
            <a [routerLink]="['/']">
                <img src="https://gruposervices.com.br/site/svg/logo_branco.svg" width="110">
            </a>
        </div>
        <div class="is-narrow is-paddingless is-right is-pulled-right">
            <a class="button is-white" [routerLink]="['/']">
                <img src="https://cdn.melhorplano.net/cms/2018/11/29/5c00172086baftim.svg" width="110">
            </a>
        </div>

    </div>
</div>