<div class="box has-background-dark is-marginless">
    <div class="header">
        <div class="left">
            <a [routerLink]="['/']">
                <img src="https://gruposervices.com.br/site/svg/logo_branco.svg" width="110">
            </a>
        </div>
        <div class="right">
            <a class="button is-white" [routerLink]="['/']">
                <img src="https://cdn.melhorplano.net/cms/2018/11/29/5c00172086baftim.svg" width="110">
            </a>
        </div>

    </div>
</div>