<div class="field is-grouped is-grouped-centered">
  <p class="control">
    <a class="button is-info" (click)="changeSize('small-grid')">
      Small
    </a>
  </p>
  <p class="control">
    <a class="button is-success" (click)="changeSize('medium-grid')">
      Medium
    </a>
  </p>
  <p class="control">
    <a class="button is-danger" (click)="changeSize('large-grid')">
      Large
    </a>
  </p>
  <div class="field">
    <a [ngClass]="{'button':true, 'is-light':colorText === 'Light Theme' , 'is-dark':colorText !== 'Light Theme'}"
      (click)="toogleTheme()">
      {{ colorText }}
    </a>
  </div>
</div>

<div id="dashboard" class="tablesContainer" [ngClass]="class">
  <ng-template #tablesContainer></ng-template>
</div>