<div id="dashboard">
<div class="">
  <div class=""> 
    <template #table1></template>
  </div>
  <div class="">
    <template #table2></template>
  </div>
  <div class="">
    <template #table3></template>
  </div>
  <div class="">
    <template #table4></template>
  </div>
  <div class="">
    <template #table5></template>
  </div>
  <div class="">
    <template #table6></template>
  </div>
  <div class="">
    <template #table7></template>
  </div>
  <div class="">
    <template #table8></template>
  </div>
  <div class="">
    <template #table9></template>
  </div>
</div>
  
  
</div>